<nav class="navbar fixed-top navbar-expand-lg navbar-dark background mb-3" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      <li class="nav-item">
      </li>
      <% if(tipoUsuario === "VENDEDOR"){ %>
      <li class="nav-item">
        <% if (ventana === "MIBIOMASA") { %>
          <a class="nav-link active" href="/MiBiomasa">Mi biomasa</a>
        <% } else { %>
          <a class="nav-link" href="/MiBiomasa">Mi biomasa</a>
        <% } %>
      </li>
      <% } else if(tipoUsuario === "COMPRADOR"){ %>
      <li class="nav-item">
        <% if (ventana === "COMPRARBIOMASA") { %>
          <a class="nav-link active" href="/ComprarBiomasa">Comprar biomasa</a>
        <% } else { %>
          <a class="nav-link" href="/ComprarBiomasa">Comprar biomasa</a>
        <% } %>
      </li>
      <% } %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <% if (ventana === "OTRO") { %>
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% } else { %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% } %>
          Cuenta
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/Perfil">Perfil</a></li>
            <li><a class="dropdown-item" href="/IniciarSesion">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
